<div class="flex justify-end bg-[#103A4F]">
    <app-search></app-search>
</div>
<app-profile-card></app-profile-card>
<div class="flex items-center flex-wrap gap-10 justify-evenly bg-gray-800 p-10">
    <div *ngFor="let item of repository">
        <app-repos-card [repo]="item"></app-repos-card>
    </div>
</div>
<div class="mt-2 w-full bottom-0">
    <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page" (page)="OnPageChange($event)" [disabled]="PaginationOption" [hidePageSize]="">
    </mat-paginator>
</div>